<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Daily Journal</title>
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/css2?family=Prata&family=Roboto:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="https://kit.fontawesome.com/33504d30dc.js" crossorigin="anonymous"></script>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><a href="/">DAILY JOURNAL</a></p>
      </div>
      <ul id="list" class="nav navbar-nav navbar-right">
        <% include loggedInNav %>
        <li><a href="/about">ABOUT</a></li>
      </ul>
    </div>
  </nav>
</head>

<body>
  <div class="container">