<% include partials/header %>

<div class="about-page content">

    <p class="the-abouts">ABOUT THE BLOG</p>
    <p>This blog is an expansion of the blog site tutorial from <a href="https://www.appbrewery.co/">App Brewery</a>.</p>
    <p>It allows you to compose and delete your journals, and the truncated posts will be displayed on the home page, in reverse chronological order. </p>

  <div class="about-me">
    <p class="the-abouts">ABOUT ME</p>
    <p>I'm Jinjin Wang, a front-end developer and multidisciplinary fashion designer based in London.</p>
    <p>Contact me by:</p>
    <div class="contact-page">
      <p class="content contact-link">
        <i class="icon fab fa-linkedin"> <a class="content" href="https://www.linkedin.com/in/jinjin-wang-616a99183/" target="_blank">Linkedin</a></i>
      </p>
      <p class="content contact-link">
        <i class="far fa-envelope"> <a class="content" href="mailto: jinjinwang@gmail.com" target="_blank">Email</a></i>
      </p>
    </div>
  </div>
</div>

<% include partials/footer %>
