<% include partials/header %>

<div class="about-page content">

  <p class="the-abouts">ABOUT THE BLOG</p>
  <p>Daily journal is an expansion of the blog tutorial by <a href="https://www.appbrewery.co/" target="_blank" rel="noopener noreferrer">App Brewery</a>.</p>
  <p>It's a multi-user blog service that allows you to compose and delete your posts freely and safely.</p>

  <div class="about-me content ">
    <p class="the-abouts">ABOUT ME</p>
    <p>I'm Jinjin Wang, a Front End Developer and Multidisciplinary Designer based in London.</p>
    <p>You can find more of my work on <a href="https://jinjinwang.co.uk" target="_blank" rel="noopener noreferrer">my personal website</a>.</p>
    <p>Contact me by:</p>
    <div class="contact-page">
      <p class="contact-link">
        <i class="icon fab fa-linkedin"> <a class="content" href="https://www.linkedin.com/in/jinjin-wang-616a99183/"
            target="_blank" rel="noopener noreferrer">Linkedin</a></i>
      </p>
      <p class="contact-link">
        <i class="far fa-envelope"> <a class="content" href="mailto: jinjinwang@gmail.com" target="_blank" rel="noopener noreferrer">Email</a></i>
      </p>
      <p class="contact-link">
        <i class="fab fa-github"> <a class="content" href="https://github.com/jinjinwang02" target="_blank" rel="noopener noreferrer">Github</a></i>
      </p>
    </div>
  </div>
</div>

<% include partials/footer %>