<% include partials/header %>

<div class="about-page content">
  <div>
    <p class="the-abouts">ABOUT THE BLOG</p>
    <p>This blog is an expansion of the blog site tutorial from <a href="https://www.appbrewery.co/">App Brewery</a>.</p>
  </div>
  <div class="about-me">
    <p class="the-abouts">ABOUT ME</p>
    <p>I'm Jinjin Wang, a front-end developer and multidisciplinary fashion designer based in London.</p>
  </div>
    <p>Contact me by:</p>
  <div class="contact-page">
    <p class="content contact-link">
      <i class="icon fab fa-linkedin"> <a class="content" href="https://www.linkedin.com/in/jinjin-wang-616a99183/" target="_blank">Linkedin</a></i>
    </p>
    <p class="content contact-link">
      <i class="far fa-envelope"> <a class="content" href="mailto: jinjinwang@gmail.com" target="_blank">Email</a></i>
    </p>
  </div>
</div>

<% include partials/footer %>
