<% include partials/header %>

<div class="compose-page">
  <h1>Compose</h1>

  <form action="/compose" method="post">
    <div class="form-group">
      <label class="content">Title</label>
      <input class="form-group form-control" type="text" name="postTitle">
      <label class="content">Post</label>
      <textarea class="form-group form-control" name="postBody" rows="10" cols="30"></textarea>
    </div>
    <button type="submit" class="publish-button">PUBLISH</button>
  </form>
</div>

<% include partials/footer %>