<% include partials/header %>

<div class="contact-page">
  <p class="content contact-link">
    <i class="icon fab fa-instagram"> <a class="content" href="https:/www.instagram.com/lyrisswing/" target="_blank">INSTAGRAM</a></i>
  </p>
  <p class="content contact-link">
    <i class="icon fab fa-linkedin"> <a class="content" href="https://www.linkedin.com/in/jinjin-wang-616a99183/" target="_blank">LINKEDIN</a></i>
  </p>
  <p class="content contact-link">
    <i class="far fa-envelope"> <a class="content" href="mailto: jinjinwang@gmail.com" target="_blank">EMAIL</a></i>
  </p>
</div>

<% include partials/footer %>
