body {
  padding-top: 90px;
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.title, h1 {
    font-family:  'Prata', serif;
    font-size: 32px;
    padding-bottom: 10px;
}
/* Nav bar */
.navbar {
    padding-top: 20px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-header {
  font-size: 20px;
}

a, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
}

.navbar-nav  li a:hover {
    color: #f7d23b!important
}

/* Home page */
.home-page {
  padding-top: 10px;
}

.content {
  font-family: 'Roboto Light', sans-serif;
}
.welcome{
  color: #7a7a7a;
}

.home-page-post, .home-page p .content {
  margin-bottom: 40px;
}

.home-page p a, .content a:hover {
  color: #f7d23b;
}

.container-button {
color: #f7d23b;
padding: 10px 0 20px 0;
}

.compose-button {
font-size: 12px;
background-color: white;
border: 2px solid #f7d23b;
transition-duration: 0.2s;
padding: 10px 10px 10px 14px;
letter-spacing: 5px;
border-radius: 8px;
}

.compose-button:hover {
background-color: #f7d23b;
color: white;
}

/* Compose page */
.compose-page {
  padding-top: 15px;
}

label, input {
  margin-bottom: 10px!important
}

textarea {
  resize: none;
}

.publish-button {
  font-size:12px;
  color: #f7d23b;
  background-color: white;
  border: 2px solid #f7d23b;
  transition-duration: 0.2s;
  letter-spacing: 5px;
  border-radius: 8px;
  padding: 10px 10px 10px 14px;
  margin-top: 5px;

}
.publish-button:hover {
background-color: #f7d23b;
color: white;
}

/* Post page */
.post-page {
  padding-top: 15px;
  padding-bottom: 10px;
}

.post-page p {
  white-space: pre-wrap;
}

.time-stamp {
  padding-top: 15px;
  color: #7a7a7a;
}

.delete {
  margin-bottom: 80px;
}

/* About page */
.about-page {
  padding-top: 30px;
  letter-spacing: 1px;
}
.about-me {
  margin-top: 30px;
}
.the-abouts{
  letter-spacing: 3px;
  font-size: 18px;
}

.contact-link:hover {
  color: #f7d23b;
}

/* Footer */
.footer-padding {
	padding-bottom: 50px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #cfe7f7;
}

.footer p {
	margin-top: 13px;
	font-size: 12px;
  color: #fff;
}
